<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1 class="semi-bold">Tienda en Python</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reprehenderit aut at eveniet vitae nulla! Alias natus ut corporis modi, eligendi quia dignissimos. Provident cupiditate vel amet hic, asperiores atque.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/tienda_python.png" alt="proyecto 1" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
