<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <div class="date">1982-1986</div> 
                <div class="info">
                     <p class="semi-bold">Colegio Nacional "Carmelo Sánchez" Balcarce</p> 
                  <p>Bachillerato Completo</p>
                </div>
            </li>
            <li>
              <div class="date">1994-1998</div>
              <div class="info">
                     <p class="semi-bold">Instituto Argentino de Computación</p> 
                  <p>Programación en Interfaces Gráficas. Visual Basic</p>
                </div>
            </li>
            <li>
                <div class="date">2018 - 2019</div>
                <div class="info">
                       <p class="semi-bold">Consul Steel - Barbieri - INCOSE</p> 
                    <p>Curso Construcción en Seco (Steel Framing)</p>
                  </div>
              </li>
              <li>
                <div class="date">2020</div>
                <div class="info">
                       <p class="semi-bold">UTN - Universidad Tecnológica Nacional</p> 
                    <p>Programación Web con PHP y MySQL <a href="https://drive.google.com/file/d/18jMh71dsW5KQgW5UA4CwbgVrM2-dYMbJ/view?usp=sharing">Certificado</a></p>
                  </div>
              </li>
              <li>
                <div class="date">2020</div>
                <div class="info">
                       <p class="semi-bold">CoderHouse</p> 
                    <p>Desarrollo Web (HTML,CSS,SASS) <a href="https://drive.google.com/file/d/14qTygIQLL7S_My9v8JoJiksJzCMzcior/view?usp=sharing">Certificado</a></p>
                    <p>JavaScript <a href="https://drive.google.com/file/d/14wKY148PdvXDW5F5rQchzT0DPJzkmOMX/view?usp=sharing">Certificado</a></p>
                    <p>REACT <a href="https://drive.google.com/file/d/15-vykZGUKCwGrGnNmaSIY_S8yXOMMZ65/view?usp=sharing">Certificado</a></p>
                  </div>
              </li>
              <li>
                <div class="date">2022</div>
                <div class="info">
                       <p class="semi-bold">Mumuki - Cessi - Municipalidad de Balcarce</p> 
                    <p>Balcarce Programa <a href="https://drive.google.com/file/d/15W6NVSC24QA4urEztCkbOca6WcIh5QgF/view?usp=sharing">Certificado</a></p>
                  </div>
              </li>
              <li>
                <div class="date">2022 - EducaciónIT C#</div>
                <div class="info">
                       <p class="semi-bold"></p> 
                    <p>Programación .Net C# .Net- Educación IT <a href="https://drive.google.com/file/d/1zF1Ae5Q1cX58DGx5ddqOEUav7X0A6x87/view?usp=sharing">Certificado</a></p>
                  </div>
              </li>
              <li>
                <div class="date">2022 - Cursando</div>
                <div class="info">
                       <p class="semi-bold"></p> 
                    <p>Argentina Programa <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">Sitio Web</a></p>
                  </div>
              </li>
              <li>
                <div class="date">2022 - Codo a Codo 4.0 - Cursando</div>
                <div class="info">
                       <p class="semi-bold"></p> 
                    <p>Programación en Python <a href="https://www.buenosaires.gob.ar/educacion/codo-codo">Sitio Web</a></p>
                  </div>
              </li>
              <li>
                <div class="date">2022 - Oracle - Cursando</div>
                <div class="info">
                       <p class="semi-bold"></p> 
                    <p>Programación Oracle Java <a href="https://app.aluracursos.com/loginForm?urlAfterLogin=https://app.aluracursos.com/course/javascript-introduccion-orientacion-objetos/task/74140">Sitio Web</a></p>
                  </div>
              </li>
        </ul>

    </div>
</div>