<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="title col-lg-11">
      
     <ul>
         <li>
             <div class="date">1995 - 1998</div> 
             <div class="info">
                  <p class="semi-bold">Hipermercado TOLEDO S.A.</p> 
               <p>Encargado Stock
             </p>
             </div>
         </li>
         <li>
           <div class="date">1998 - 2013</div>
           <div class="info">
                  <p class="semi-bold">Kit Computación</p> 
               <p>Comerciante Propietario (Comercio de Venta y Reparación de Computadoras y Artículos Electrónicos) (14 años) (desde 1998 hasta 2013)</p>
             </div>
         </li>
         <li>
           <div class="date">2013 - 2020</div>
           <div class="info">
                  <p class="semi-bold">HIERROS BALCARCE S.H.</p> 
               <p>Programador (Visual Basic,SQL), Responsable Desarrollo Sistema Informático y Mantenimiento Hardware </p>
             </div>
         </li>
     </ul>
 </div>
</div>