<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1 - </h1>
                <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, nesciunt optio neque assumenda dolore
                ipsum deleniti fuga, sunt quae quaerat temporibus? Non odit officia, accusamus corrupti voluptas tempore
                qui.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2 - </h1>
                <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, nesciunt optio neque assumenda dolore
                ipsum deleniti fuga, sunt quae quaerat temporibus? Non odit officia, accusamus corrupti voluptas tempore
                qui.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3 - </h1>
                <h3>(Años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui, nesciunt optio neque assumenda dolore
                ipsum deleniti fuga, sunt quae quaerat temporibus? Non odit officia, accusamus corrupti voluptas tempore
                qui.</p>
        </ul>

    </div>
</div>