<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="logo argentina programa">
        </div>
        <div class="redes">
            <div>
                <a href="http://"><img src="../../../assets/linkedin.png" alt=""></a>
                <a href="http://"><img src="../../../assets/twitter.png" alt=""></a>
                <a href="http://"><img src="../../../assets/instagram.png" alt=""></a>
                <a href="http://"><img src="../../../assets/github.png" alt=""></a>
                <a href="http://"><img src="../../../assets/facebook.png" alt=""></a>
                <button class="btn btn-outline-light" type="button">INGRESAR</button>
            </div>
        </div>
    </div>
</div>

