
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto_perfil_wgr.jpeg" alt="foto perfil" id="fotodeperfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Rojo Walter Gustavo</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Full Stack Developer, 54 Años de Edad, Casado con 3 hijos (26,21,16 años), hábido de obtener conocimientos diariamente, para poder perfeccionarme y en búsqueda de nuevas experiencias enriquecedoras</p>
        </span>
    </div>
</div>
